<div class="modal fade" tabindex="-1" role="dialog" id="Stop">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Uwaga</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Czy na pewno chcesz przerwać badanie?</p>
       </div>
      <div class="modal-footer">
        <button id="Tak" type="button" class="btn btn-secondary" data-dismiss="modal">Tak</button>
        <button id="Nie" type="button" class="btn btn-primary" data-dismiss="modal">Nie</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    document.getElementById("Tak").onclick = function () {
        location.href = "/home";
    };
</script>

<style>
.modal-content{
    background-color: #212121
}
</style>