<div class="modal fade" tabindex="-1" role="dialog" id="Answers-{{ item.id }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Odpowiedzi badanego nr {{ item.id }}:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>1. Jak dużej aktywności umysłowej wymagał od Ciebie eksperyment? Był on łatwy/wymagający, prosty/złożony? <b>{{ item.q_1 }}</b></p>
        <br>
        <p>2. Jak dużej aktywności fizycznej wymagał od Ciebie eksperyment?? Był on łatwy/wymagający? <b>{{ item.q_2 }}</b></p>
        <br>
        <p>3. Czy odczuwałeś/aś presję czasu ze względu na tempo? Czy tempo było za wolne/za szybkie? <b>{{ item.q_3 }}</b></p>
        <br>
        <p>4. Jak uważasz, że udało Ci się wykonać zadanie? Jak bardzo jesteś zadowolony/a z wykonania zadania? <b>{{ item.q_4 }}</b></p>
        <br>
        <p>5. Jak ciężkie było dla Ciebie osiągnięcie odpowiedniego poziomu koncentracji/wydajności podczas eksperymentu? <b>{{ item.q_5 }}</b></p>
        <br>
        <p>6. Jak bardzo byłeś/aś zestresowany/a, a jak bardzo zrelaksowany/a podczas eksperymentu? <b>{{ item.q_6 }}</b></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>

<style>
.modal-content{
    background-color: #212121
}
</style>